// game styles
.game {
  height: 90vh;
  padding: 8rem 0;

  @media (max-width: $mobileSize){
    padding: 0;
    margin-top: 0;
  }
}

.game-container {
  background:transparent;
}

.game-display {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  @media (max-width: $mobileSize){
    padding: 0 0 0 0;
    margin: 0rem;
  }

  .display-flag {
    width: 30%;

    img {
      width: 100%;
      margin-top: 4rem; 
    }

    @media (max-width: $mobileSize){
      width: 60%;
    }

  }

  .display-scoreboard {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #fff;

    p {
      font-size: 5rem;

      @media (max-width: $mobileSize){
        font-size: 2rem;
      }
    }
  }
}

.game-controls {
  margin-top: 2rem 0; 
  text-align: center;

  form {
    width: 50%;
    margin: 1rem auto;
  }

  input {
    width: 80%;
    text-align: center;
    border: none;
  }

  button {
    font-size: 3rem;
    width: 80%;
    text-transform: uppercase;
  }

  @media (max-width: $mobileSize){
    form {
      width: 90%;
    }

    input {
      margin: 1rem 0;
    }

    button {
      font-size: 2rem;
      padding: 1rem;
    }
  }
}