// navigation style
.navigation {
  color: #fff;
  height: 10vh;

}

.navigation-container {
  display: flex;
  justify-content: space-between;

  /* Landscape phones and down */
  @media (max-width: $mobileSize) {
    display: inline-block;
    text-align: center;
  }
}
