.navigation {
  color: #fff;

  p {
    font-size: 4rem;
    text-transform: uppercase;
  }

  ul {
    align-items: flex-end;
  }

  li {
    padding: 0 2rem;
    a:hover {
      border-bottom: 5px solid $primaryColor;
    }
  }

  /* Landscape phones and down */
  @media (max-width: $mobileSize) {
    text-align: center;

    p {
      margin: 2rem 0;
      font-size: 3rem;
    }

    ul {
      padding: 1rem;
      justify-content: center;
    }
  }
}