// universal base styling
html {
  font-size: 62.5%;
}

// universal body styles
body {
  font-size: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../img/imgs/globe.jpg);
  background-size: cover;
  background-position: center;
}

// wrapper to contain content
.wrapper {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Landscape phones and down */
@media (max-width: $mobileSize) {
  .wrapper {
    width: 90%;
  }
}

// universal list styles
ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

// button styles
button {
  background-color: $primaryColor;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 5rem;
  padding: 2rem;
  color: #fff;

  &:hover {
    background: $buttonHoverColor;
  }
}

