article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../img/imgs/globe.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../img/imgs/globe.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Landscape phones and down */
@media (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: #9000FF;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 5rem;
  padding: 2rem;
  color: #fff;
}

button:hover {
  background: #b555ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

.navigation {
  padding: 2rem 0;
}

.navigation p {
  font-size: 5rem;
  letter-spacing: 2px;
}

.navigation a {
  color: #fff;
}

.game {
  color: #fff;
}

.welcome {
  /* Landscape phones and down */
}

.welcome h1 {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 400;
  color: #fff;
  width: 50%;
}

@media (max-width: 700px) {
  .welcome h1 {
    font-size: 4rem;
  }
}

.navigation {
  color: #fff;
  /* Landscape phones and down */
}

.navigation p {
  font-size: 4rem;
  text-transform: uppercase;
}

.navigation ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation li {
  padding: 0 2rem;
}

.navigation li a:hover {
  border-bottom: 5px solid #9000FF;
}

@media (max-width: 700px) {
  .navigation {
    text-align: center;
  }
  .navigation p {
    margin: 2rem 0;
    font-size: 3rem;
  }
  .navigation ul {
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.welcome-start {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 700px) {
  .welcome-start {
    margin-top: 5rem;
    height: auto;
  }
  .welcome-start button {
    font-size: 2rem;
  }
}

.result-display {
  width: 70%;
  padding: 2.5rem;
  text-align: center;
  height: auto;
  font-size: 2.5rem;
}

.result-display h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 6.2rem;
}

.result-display ul {
  margin-top: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result-display ul li {
  margin: 2rem 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .result-display {
    width: 100%;
    padding: 0;
  }
  .result-display ul li {
    width: 100%;
  }
  .result-display button {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.result-flag-container {
  width: 15%;
}

.result-flag-container img {
  width: 100%;
}

.result-display-answers {
  width: 80%;
  text-align: left;
}

.result-display-answers p {
  margin: 0 0 1rem 1rem;
}

.navigation {
  color: #fff;
  height: 10vh;
}

@media (max-width: 700px) {
  .navigation {
    height: auto;
  }
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 700px) {
  .navigation-container {
    display: inline-block;
    text-align: center;
  }
}

.welcome {
  height: 90vh;
}

@media (max-width: 700px) {
  .welcome {
    height: auto;
  }
}

.game {
  height: 90vh;
  padding: 8rem 0;
}

@media (max-width: 700px) {
  .game {
    height: auto;
    padding: 0;
    margin-top: 0;
  }
}

.game-container {
  background: transparent;
}

.game-display {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

@media (max-width: 700px) {
  .game-display {
    padding: 0 0 0 0;
    margin: 0rem;
  }
}

.game-display .display-flag {
  width: 30%;
}

.game-display .display-flag img {
  width: 100%;
  margin-top: 4rem;
}

@media (max-width: 700px) {
  .game-display .display-flag {
    width: 60%;
  }
}

.game-display .display-scoreboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #fff;
}

.game-display .display-scoreboard p {
  font-size: 5rem;
}

@media (max-width: 700px) {
  .game-display .display-scoreboard p {
    font-size: 2rem;
  }
}

.game-controls {
  margin-top: 2rem 0;
  text-align: center;
}

.game-controls form {
  width: 50%;
  margin: 1rem auto;
}

.game-controls input {
  width: 80%;
  text-align: center;
  border: none;
}

.game-controls button {
  font-size: 3rem;
  width: 80%;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .game-controls form {
    width: 90%;
  }
  .game-controls input {
    margin: 1rem 0;
  }
  .game-controls button {
    font-size: 2rem;
    padding: 1rem;
  }
}

.result {
  height: auto;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
